<h1>WELCOME TO ROCK PAPER SCISSORS</h1>

<body>
  <ul>
    <li>Player has chosen: <%= @rps.choice %></li>
    <li>Computer has chosen: <%= @rps.computer_play %></li>
    <li><%= @rps.outcome %></li>
  </ul>
</body>